src/test/resources/xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="uri"/>
                <xs:element name="stations">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="station" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="abbr"/>
                                        <xs:element type="xs:float" name="gtfs_latitude"/>
                                        <xs:element type="xs:float" name="gtfs_longitude"/>
                                        <xs:element type="xs:string" name="address"/>
                                        <xs:element type="xs:string" name="city"/>
                                        <xs:element type="xs:string" name="county"/>
                                        <xs:element type="xs:string" name="state"/>
                                        <xs:element type="xs:int" name="zipcode"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="message"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>